<%= form_for(@comunity) do |f| %>
  <% if @comunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comunity.errors.count, "error") %> prohibited this comunity from being saved:</h2>

      <ul>
      <% @comunity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Estado", "Seleccione estado" %><br>
    <%if @comunity.parish%>
      <%=select_tag "comunity_Estado", options_from_collection_for_select(@states, "id", "nombre",@comunity.parish.town.state.nombre), onchange: "javascript: onChageState();"%>
    <%else%>
       <%=select_tag "comunity_Estado", options_from_collection_for_select(@states, "id", "nombre"), onchange: "javascript: onChageState();"%>
    <%end%>
  </div>
  <div class="field">
    <%= f.label "Municipio", "Seleccione Municipio" %><br>
    <%if @comunity.parish%>
      <%=select_tag "comunity_Municipio", options_from_collection_for_select(@states[0].towns, "id", "nombre",@comunity.parish.town.nombre), onchange: "javascript: onChageTown();"%>
    <%else%>
       <%=select_tag "comunity_Municipio", options_from_collection_for_select(@states[0].towns, "id", "nombre"), onchange: "javascript: onChageTown();"%>
    <%end%>
  </div>

  <div class="field">
    <%= f.label :parish_id, "Seleccione Parroquia" %><br>
    <%if @comunity.parish%>
      <%= f.select :parish_id, options_for_select(@states[0].towns[0].parishes.pluck(:nombre,:id),@comunity.parish.town.state.nombre)%>
    <%else%>
      <%= f.select :parish_id, options_for_select(@states[0].towns[0].parishes.pluck(:nombre,:id))%>  
    <%end%>
  </div>

    <div id="towns" class="hidden">
      <% @states.each do |s| %>
        <div id=<%="State-#{s.id}"%>>
            <% s.towns.each do |t| %>
              <option value=<%="#{t.id}"%> ><%=t.nombre%></option>
            <%end%> 
        </div>
      <% end %>
    </div>
    <div id="parishes" class="hidden">
      <% @towns.each do |t| %>
        <div id=<%="Town-#{t.id}"%>>
            <% t.parishes.each do |p| %>
              <option value=<%="#{p.id}"%> ><%=p.nombre%></option>
            <%end%> 
        </div>
      <% end %>
    </div>


  <div class="field">
    <%= f.label :rif %><br>
    <%= f.text_field :rif %>
  </div>
  <div class="field">
    <%= f.label :cod_registro, "Codigo de Registro" %><br>
    <%= f.text_field :cod_registro %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :catastro, "Numero de catastro" %><br>
    <%= f.text_field :catastro %>
  </div>
  <div class="field">
    <%= f.label :sector%><br>
    <%= f.text_field :sector %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_area :direccion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
