<h1>Lista de usuarios</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class='info'>
        <td><%= user.cedula %></td>
        <td><%= user.type.nombre %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta seguro/a?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo  usuario', new_user_path %>
